@use '../../_css/queries.scss' as *;

.CardComponent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    @include small-break {
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        gap: 5px;
        padding: 0;
        margin: 0;
    }
  }
  
  .card {
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: .5px solid rgba(231, 225, 225, 0.952);
    padding: 3px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: ease-in-out;
    cursor: pointer;
    @include small-break{
      border: none;
    }
    
  }
  .card:hover{
    scale: 1.1;
    transition: .1s ease;
  }
  .card h3 {
    margin-top: 10px; /* Adjust as needed */
  }
  .image{
    border-radius: 10px;
    max-width: 230px;
    min-height: 150px;
    max-height: 200px;
    object-fit: cover;
    @include small-break {
        max-width: 280px;
        min-height: 200px;
        max-height: 200px;
        min-width: 250px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }
  }
  .categoryHeader{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }