@use '../../_css/common.scss' as *;

.postHero {
  display: flex;
  gap: calc(var(--base) * 2);

  @include mid-break {
    flex-direction: column;
    gap: var(--base);
  }
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base);

  @include mid-break {
    width: 100%;
    gap: calc(var(--base) / 2);
  }
}

.leader {
  @extend %label;
  display: flex;
  gap: calc(var(--base) / 2);
}

.title {
  margin: 0;
}

.warning {
  margin-bottom: calc(var(--base) * 1.5);
}

.meta {
  margin: 0;
}

.description {
  margin: 0;
}

.media {
  width: 50%;

  @include mid-break {
    width: 100%;
  }
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 5 / 4;
  margin-bottom: calc(var(--base) / 2);
  width: calc(100% + calc(var(--gutter-h) / 2));

  @include mid-break {
    margin-left: calc(var(--gutter-h) * -1);
    width: calc(100% + var(--gutter-h) * 2);
  }
}

.image {
  object-fit: cover;
  

}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption {
  color: var(--theme-elevation-500);
}
/* Style for the additional data section */
.additional-data {
  margin-top: 20px;
}

/* Style for the accordion button */
button.accordion {
  background-color: #263137;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 20px;
  margin: 2px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

/* Style for the active accordion button */
button.accordion.active {
  background-color: #b88d5e;
}

/* Style for the accordion content */
button.accordion + div {
  display: none;
  padding: 10px;
  background-color: #f0cdcd;
}

/* Style for the active accordion content */
button.accordion.active + div {
  display: block;
}

/* Style for the headings in the additional data section */
.additional-data h2 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Style for the description in the additional data section */
.additional-data p {
  margin-bottom: 15px;
}

/* Style for the list items in the additional data section */
.additional-data ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style for the list item titles in the additional data section */
.additional-data ul li h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Style for the list item descriptions in the additional data section */
.additional-data ul li p {
  margin-bottom: 10px;
}

/* Style for the price and days */
.price-days {
  font-weight: bold;
  font-size: 12px;
}
.imageHighlight{
  text-align: center;
}
.imageWrapper {
  list-style: none;
  color: var(--theme-elevation-0);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 200px;
  min-height: 300px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  @include mid-break {
    max-width: 2500px;
    min-height: 250px;
    max-height: 250px;
    gap: 5px;
    flex-wrap: wrap;
  }

  @include small-break {
    max-width: 250px;
    min-height: 160px;
    max-height: 160px;
    gap: 5px;
  }
}
.priceFlex{
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: space-between;
  padding:0 20px 0 20px;
  color: #333; 
  background-color: #b88d5e;
  @include small-break {
    padding:0 5px 0 5px;
    font-size: 16px;
    
  }
}
.images li {
  margin-right: 10px; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
  list-style: none;
}

.imageFlex ul{
  list-style-type: none;
}
.images li:last-child {
  margin-right: 0;
}

.images {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  object-fit: cover; /* Ensure images maintain aspect ratio */
  border-radius: 8px;
  /* Add border radius for rounded corners */
}
.imageFlex{
  @include small-break {
    overflow: scroll;
  }
}
.imageFlex::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers */
}

/* Optional: Hide scrollbar for Firefox */
.imageFlex {
  scrollbar-width: none;
}
.imageFlex ul{
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-around;
 

  @include small-break {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    gap: 5px;
  }

}
.itineraryList{
  list-style: none;
  padding: 10px;
}
.HighlightImg{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
  gap: 20px;
  @include mid-break{
    overflow: scroll;
    gap: 4px;
  }
  @include small-break{
    overflow: scroll;
    gap: 4px;
   }
}
.HighlightImg::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers */
}

/* Optional: Hide scrollbar for Firefox */
.HighlightImg {
  scrollbar-width: none;
}
.img{
 object-fit: cover;
 border-radius: 10px;

 min-width: 230px;
 aspect-ratio:  2/3;
 max-width: 300px;
 @include mid-break{
  max-width: 200px;
  gap: 4px;
 }
 @include small-break{
  max-width: 200px;
  min-width: 200px;
  gap: 4px;
 }
}