@use '../../../app/_css/queries.scss' as *;

.TopBarContainer{
    display: flex;
    width: 100%;
    background-color: rgb(37, 36, 36);
    color: wheat;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    @include small-break{
        padding: 0 10px;
    }
}
.callFLex{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 10px 0 10px;
    cursor: pointer;
    @include small-break{
        padding: 0 10px;
        width: 60%;
    }
}
.phoneIcon{
    margin: 0 10px 0 10px;
    @include small-break{
        display: none; 
    }
}
.callback{
    @include small-break{
        display: none; 
    }
}
