@use '../../../_css/queries.scss' as *;

.footer {
  padding: 0;
  background-color: #b88d5e;
  color: var(--theme-elevation-0);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  list-style: none;
  list-style-type: none;

  @include small-break {
    padding: 0;
  }
}

.footer ul{
  list-style: none;
  list-style-type: none;
}
.inclusions {
  display: grid;
  justify-content: center;
  
  gap: 40px;
  border-radius: 30px;
  list-style: none;
  list-style-type: none;
  padding: 50px;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 50px;
  background-color: #b88d5e;
  color: white;
  @include small-break {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  }

  @include mid-break {
    margin: 60px 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @include extra-small-break {
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
    padding: 5px;
  }
}

.icon {
  margin-bottom: 16px;
  @include extra-small-break {
    margin-bottom: 5px;
  }

}



.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  @include small-break {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

// .logo {
//   width: 170px;
// }

.hr {
  border-color: var(--color-white-500-20);
}

.socialLinks {
  display: flex;
  padding: 0px;
  margin: 0;
  gap: 0px;
  width: 100%;
}

.socialLinkItem {
  width: 100%;
  width: 100px;
  height:  100px;
}

.socialIcon {
  width: 40px;
  height: 40px;
  @include small-break {
    width: 20px;
    height: 20px;
  }
 
}


.footerlist{
  list-style: none;
}
.footerLogo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footercategories{
  position: relative;
}
.footerLabel{
  color: orangered;
}
.footerWrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items:flex-start;
  @include small-break {
    
    display: grid;
    justify-content: center;
   
    grid-template-columns: repeat(2, 1fr);
  }
}

.copyright{
  margin-bottom: 0;
  margin-top: 10px;
 
}


.footer {
  padding: 20px;
  background-color: #273238;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 0;
 

  @include small-break {
    padding: 1opx;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }
}
